*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #385170;
}
#start{

    margin-top: 2px;
    font-size: 10vh;
}
h1{
    text-align: center;
    color: #ececec;
}
#hed{
    margin-top: 30px;
}
.container{
    justify-content: center;
    align-items: center;
    height:70vh;
    display: flex;
    margin-top: 10px;
}
.game{
    height: 70vh;
    width: 80vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.box{
    width: 20vmin;
    height: 20vmin;
    margin:5px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0,0,0.9);
    background-color: #9fd3c7;
    font-size: 10vmin;
    color: #ececec;
}
.reset-con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.reset{
    background-color: #9fd3c7;
    border: 1px solid #ececec;
    border-radius: 10px;
    color:#385170;
    height: 23px;
    box-shadow: 0 0 1rem rgba(0, 0,0,0.9);
}
.box:active {
    transform: translateY(2px); /* Optional: a slight effect when the button is pressed */
}
.reset:active {
    transform: translateY(2px); /* Optional: a slight effect when the button is pressed */
}